<h1 [class.gray]="h1Style">Pokemons</h1>

<button class="bubbly-button" [ngClass]="clicked ? 'animate' : ''" (click)="changeMyColor()">Change My Color Please!</button>

<div class="row">
  <div class="col-md-6">
    <ul *ngIf="pokemons">
      <li class="bubbly-button" [ngClass]="pokemon.clicked ? 'animate' : ''" (click)="clickItem(pokemon)"
       *ngFor="let pokemon of pokemons" routerLink="/details/{{pokemon.name}}">
        <img [src]="pokemon.photo">
        <p>{{ pokemon.name }}</p>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul *ngIf="items">
      <li class="bubbly-button" [ngClass]="item.clicked ? 'animate' : ''" (click)="clickItem(item)" *ngFor="let item of items">
        <img [src]="item.photo">
        <p>{{ item.name }}</p>
      </li>
    </ul>
  </div>
</div>
